@model IEnumerable<NewZealand_Courier.Models.CourierDeliver>

@{
    ViewData["Title"] = "Index";
}

<h1>
 Index
</h1>
<img src="~/nz del.jpg"  height="550" width="1150"/>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DeliveryPerson_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeliveryPerson_Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeliveryPerson_Contact)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeliveryPerson_EmailId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DeliveryPerson_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DeliveryPerson_Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DeliveryPerson_Contact)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DeliveryPerson_EmailId)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
